@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.contenedor-grid {
  font-family: "Nunito", sans-serif;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  /* height: 10vh; */
  background-color: black;
  color: antiquewhite;
  align-content: center;
}

.decoracion {
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 100px;
  height: auto;
  pointer-events: none;
}

.boton-imagen {
  cursor: pointer;
  width: 120px;
  /* height: 50px; */
  transition: transform 0.2s ease;
  border-radius: 20%;
}

.boton-imagen:hover {
  transform: scale(1.05);
}

.guardaparque {
  /* Remové width: 10px */
  pointer-events: none;
}

.guardaparque img {
  height: 50%;
  object-fit: contain;
}

.item-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4%;
  /* margin: 5%; */
}

.boton-wrapper {
  display: inline-block;
}

.boton-wrapper-select {
  border-bottom: 3px solid red;
  border-radius: 20%;
}

.titulo {
  position: relative;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  /* min-height: 20vh; */

  background-image: url("../Images/fondo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
}

.titulo h1 {
  font-family: "Nunito", sans-serif;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.pie-grid {
  font-family: "Nunito", sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  box-sizing: border-box;
  /* height: 5%; */
  background-color: gray;
  color: antiquewhite;
}

.pie {
  text-align: center;
  align-content: center;
}

.pie-grid-item img {
  width: 100%;
  /* height: 100%; */
}


.tarjeta {
  display: block;
  width: 100%;
  height: auto;
  align-items: center;
  align-content: center;
  text-align: center;
  /* box-sizing: border-box; */
  /* height: 63vh; */
  /* border: 1px solid red; */
}

.tarjeta-filtro {
  width: 10%;
  height: 100%;
  /* border: 1px solid red; */
}

.tarjeta-contenido {
  width: 90%;
  height: 100%;
  /* border: 1px solid red; */
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

